.header-container {
  position: relative;
  z-index: 2;

  .header {
    padding-top: 40px;

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      h1 {
        font-size: 3rem;
      }

      .nav-ul {
        display: flex;
        flex-direction: row;

        .link {
          color: #fff;
          margin-left: 2rem;
          font-weight: bold;
          font-size: 1.2rem;
        }
      }
    }
  }
}
